In [ ]:
import pandas as pd

In [ ]:
x = [1, 6, 1, 6, 1, 6, 1, 6]
y = [3, 4, 3, 4, 3, 4, 3, 4]

df = pd.DataFrame(x, columns =['x'])
df['y'] = y
df.head()

   x  y
0  1  3
1  6  4
2  1  3
3  6  4
4  1  3

In [ ]:
df.describe()

              x         y
count  8.000000  8.000000
mean   3.500000  3.500000
std    2.672612  0.534522
min    1.000000  3.000000
25%    1.000000  3.000000
50%    3.500000  3.500000
75%    6.000000  4.000000
max    6.000000  4.000000